export TG_PHONE="+12124567890"
export LMEM_API_ID="12345678"
export LMEM_API_HASH=""
export SESSION_FILE=./dist
export CHAT_ID="" # Chat to monitor
export CHANNEL_ID="" # Destination channel
export CHANNEL_ACCESS_HASH="" # Access hash for destination channel
                              # can be obtained from update
