export REACTOR_PHONE="+12124567890"
export REACTOR_APP_ID="12345678"
export REACTOR_APP_HASH=""
export REACTOR_SESSION_DIR=./session
export REACTOR_CHAT_IDS="123123,23123" # Chat to monitor (must be a supergroup)
export REACTOR_CHANNEL_ID="" # Destination channel/chat
export REACTOR_CHANNEL_ACCESS_HASH="" # Access hash for destination channel
                                      # can be obtained from update